#map {
  height: 100%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1em;
}

#main {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#status {

}

#button {
  height: 20px;
  width: 60px;
  border: 1px black;
  cursor: pointer;
}