#map {
  height: 100%;
  display: none;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 2em;
}

#main {
  width: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#status {

}

#button {
  font-weight: bold;
  border-width: 3px;
  border-color: black;
  cursor: pointer;
}