html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-size: 1em;
}

#map {
  height: 50vh;
  display: block;
}

#main {
  display: block;
  height: 50vh;
  position: absolute;
}

#interface {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#status {

}

#button {
  font-weight: bold;
  border-width: 3px;
  border-color: black;

    display: block;
    position: relative;

    bottom: 0;
    background-color: black;
    border-color: black;
    color: white !important;

    left: 50%;

    transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);

  cursor: pointer;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}